<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>About Us</title>
    

    <link rel="stylesheet" href="/static/about_us_stylesheet.css"/>
    <script src="/static/app.js"></script>
    <header>
      <button  class="logo_button" onclick="location.href = '/';" type="submit">
        <img src="/static/pics/Logo.png" alt="buttonpng"/>
      </button>
      
      <nav>
      <ul class="nav_links">
          <li><a href="/">Home</a></li>
          <li><a href="login.html">Log in</a></li>
          <li><a href="signin.html">Sign in</a></li>
      </ul>
      </nav>
     
  </header> 
  </head>
  <body>
    <h1>About Us</h1>
    <section class=".hidden">
      <h2>Lukas Leitner</h2>
      <p>Projektleitung, Leitung Softwareentwicklung</p>
    </section>

    <section class=".hidden">
      <h2>Mathias Stefan Grabner</h2>
      <img class="pics_people" src="/static/pics/MathiasStefanGrabner.png">
      <p>Projektleitung Stv., Softwareentwicklung, Leitung Webdesign</p>
    </section>

    <section class=".hidden">
      <h2>Michael Julian Rechberger</h2>
      <p>Webdesign, Softwareentwicklung</p>
    </section>

    <section class=".hidden">
        <h2>Maximillian Gruber</h2>
        <img class="pics_people" src="/static/pics/MaximillianGruber.jpg">
      <p>Softwareentwicklung, Finanzmanagment </p>
    </section>

  </body> 
  <footer>
    <ul>
     <li>&copy; 2023 Kreizfidöln</li>
     <li><a>Kontakt</a></li>
     <li><a>Datenschutz</a></li>
     <li><a>Impressum</a></li>
    </ul>
   </footer>
 
</html>
