<!DOCTYPE html>
<html>
<head>
    <title>TestWiz</title>
    <link rel="stylesheet" href="/static/index_stylesheet.css"/>
      <header>
        <img class="logo" src="/pics/menu.png">
        <nav>
        <ul class="nav_links">
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Log in</a></li>
            <li><a href="signin.html">Sign in</a></li>
        </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header> 
</head>
<body>
    <h1>TestWiz</h1>
    <p>Welcome to the Home Page of TestWiz!</p> 
</body>

<footer>
    <div class="line"></div>
    <ul>
     <li>&copy; 2023 Kreizfidöln</li>
     <li><a>Kontakt</a></li>
     <li><a>Datenschutz</a></li>
     <li><a>Impressum</a></li>
    </ul>
   </footer>
 
</html>
